* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
	background: black;
}

.container {
	background-color: rgb(238, 238, 238);
}